.containerFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 13vw;
}

img {
    width: 80vw !important;
    margin: 10vh 0;
}

.kep-login-facebook.metro {
    width: 80vw;
    height: 7vh;
    margin: 2vh;
}

.btn-danger {
    width: 80vw;
    height: 7vh;
    margin: 2vh;
}

button {
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 7vh;
    margin: 2vh;
}