.FlexContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ToyCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 1.2em;
    height: auto;
    background-color: white;
}

.ToyCard figcaption p {
    margin: 0.2rem;
}

cite {
    margin: 0.4em 0;
    font-size: 1.2em;
    font-weight: 600;
}

span {
    font-size: 1.8em;
    color: #fff;
}

span.is-favorite {
    font-size: 1.8em;
    color: #ecc94b;
}

img {
    max-width: 70vw;
    border-radius: 10px;
    margin:10px !important;
}